@import "variable";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

i, em, address {
  font-style: normal;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html {
  font-size: calc(100vw / 3.75);
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  font-size: 0.13rem;
  overflow-x: hidden;
  background-color: @bgColor;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: @gray;
  display: block;
  text-decoration: none;
}

select {
  border: none;
  font-size: 0.13rem;
  -webkit-appearance: none;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, textarea, button {
  border: none;
  font-size: 0.13rem;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  display: block;
  background-color: transparent;
}

textarea {
  resize: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

input[type="checkbox"], input[type="radio"] {
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 0.16rem !important;
  height: 0.16rem !important;
  -webkit-appearance: none;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

input[type="checkbox"]:checked, input[type="radio"]:checked,
input[type="checkbox"].checked, input[type="radio"].checked {

}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #b3b3b3;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b3b3b3;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b3b3b3;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #b3b3b3;
}

.clearfix:after, .row:after {
  height: 0;
  clear: both;
  content: "";
  line-height: 0;
  display: block;
  visibility: hidden;
}

.col-xs-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-md-12, .col-lg-12 {
  float: left;
}

.col-xs-1, .col-md-1, col-lg-1 {
  width: 8.3333%;
}

.col-xs-2, .col-md-2, col-lg-2 {
  width: 16.6666%;
}

.col-xs-3, .col-md-3, col-lg-3 {
  width: 25%;
}

.col-xs-4, .col-md-4, .col-lg-4 {
  width: 33.3333%;
}

.col-xs-5, .col-md-5, .col-lg-5 {
  width: 41.6666%;
}

.col-xs-6, .col-md-6, .col-lg-6 {
  width: 50%;
}

.col-xs-7, .col-md-7, .col-lg-7 {
  width: 58.3333%;
}

.col-xs-8, .col-md-8, .col-lg-8 {
  width: 66.6666%;
}

.col-xs-9, .col-md-9, .col-lg-9 {
  width: 75%;
}

.col-xs-10, .col-md-10, .col-lg-10 {
  width: 83.3333%;
}

.col-xs-11, .col-md-11, .col-lg-11 {
  width: 91.6666%;
}

.col-xs-12, .col-md-12, .col-lg-12 {
  width: 100%;
}

.vertical:before {
  width: 0px;
  content: '';
  height: 100%;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis.multiple {
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.hidden {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.disabled {
  color: #c5c5c5 !important;
  cursor: not-allowed !important;
  border-color: #d4d4d4 !important;
  background-color: @white !important;
}

.modal {
  .modal-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1040;
    visibility: visible;
    background-color: @modalBgColor;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .modal-content {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1050;
    height: 2.6rem;
    padding-top: 0.4rem;
    background-color: @white;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  .modal-header {
    width: 100%;
    height: 0.4rem;
    position: absolute;
    top: 0px;
    left: 0px;
    .btn.close {
      border: none;
      width: 0.4rem;
      color: #ff6a00;
      font-size: 0.4rem;
      line-height: 0.4rem;
      background-color: transparent;
    }
  }
  .modal-body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  &.hide {
    .modal-bg {
      opacity: 0;
      visibility: hidden;
    }
    .modal-content {
      -webkit-transform: translateY(2.6rem);
      -moz-transform: translateY(2.6rem);
      -ms-transform: translateY(2.6rem);
      -o-transform: translateY(2.6rem);
      transform: translateY(2.6rem);
      -webkit-box-shadow: 0px 0px 15px @boxShadow;
      -moz-box-shadow: 0px 0px 15px @boxShadow;
      box-shadow: 0px 0px 15px @boxShadow;
    }
  }
}

.footer {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  text-align: center;
  background-color: @white;
  -webkit-box-shadow: 0px 0px 15px @boxShadow;
  -moz-box-shadow: 0px 0px 15px @boxShadow;
  box-shadow: 0px 0px 15px @boxShadow;
  .footer-column {
    width: 20%;
    float: left;
    background-repeat: no-repeat;
    background-size: 0.3rem 0.3rem;
    background-position: center 0.03rem;
    a {
      height: 0.5rem;
      color: #999999;
      font-size: 0.11rem;
      position: relative;
      padding: 0.3rem 0rem 0.04rem;
    }
    &.active {
      a {
        color: #4fa0f0;
      }
    }
    &:nth-child(1) {
      background-image: url("../images/home@2x.png");
      &.active {
        background-image: url("../images/home1@2x.png");
      }
    }
    &:nth-child(2) {
      background-image: url("../images/find@2x.png");
      &.active {
        background-image: url("../images/find1@2x.png");
      }
    }
    &:nth-child(3) {
      a:before {
        content: '';
        display: block;
        width: 100%;
        height: 0.75rem;
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -50%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../images/Treasure@2x.png");
      }
    }
    &:nth-child(4) {
      background-image: url("../images/Community@2x.png");
      &.active {
        background-image: url("../images/Community1@2x.png");
      }
    }
    &:nth-child(5) {
      background-image: url("../images/me@2x.png");
      &.active {
        background-image: url("../images/me1@2x.png");
      }
    }
  }
}

.banner {
  img {
    height: 1.2rem;
  }
  .swiper-pagination {
    font-size: 0px;
  }
  .swiper-pagination-bullet {
    width: 0.08rem;
    height: 0.08rem;
    margin: 0rem 0.04rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  .swiper-pagination-bullet-active {
    background-color: @white;
  }
}

.home {
  min-height: 100vh;
  padding-bottom: 0.7rem;
  .menus {
    text-align: center;
    padding: 0.1rem 0rem;
    background-color: @white;
    border-bottom: 1px solid @borderColor;
    a {
      padding: 0.12rem 0rem;
    }
    p {
      margin-top: 0.15rem;
      font-size: 0.12rem;
      line-height: 0.14rem;
    }
    img {
      width: 0.3rem;
      height: 0.3rem;
      margin: 0px auto;
    }
  }
  .news {
    position: relative;
    padding: 0.05rem 0.15rem;
    background-color: @white;
    .pull-left {
      position: absolute;
      top: 0px;
      left: 0px;
      width: auto;
      height: 100%;
      padding: 0.15rem 0.15rem;
      img {
        width: 0.4rem;
        height: 0.2rem;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 0px;
        width: 0px;
        height: 0.2rem;
        margin-top: -0.1rem;
        border-left: 1px solid @borderColor;
      }
    }
    .pull-right {
      width: 100%;
      height: 0.4rem;
      overflow: hidden;
      line-height: 0.4rem;
      padding-left: 0.7rem;
      .news-block {
        -webkit-transition: all 400ms linear;
        -moz-transition: all 400ms linear;
        -ms-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear;
      }
    }
  }
  .group {
    margin-top: 0.15rem;
    .group-header {
      line-height: 0.14rem;
      background-color: @white;
      padding: 0.14rem 0.15rem 0rem;
    }
    .group-title {
      font-size: 0.15rem;
      font-weight: normal;
    }
    .group-link {
      font-size: 0.14rem;
      padding-right: 0.1rem;
      background-repeat: no-repeat;
      background-size: 0.3rem 0.3rem;
      background-position: 0.2rem center;
      background-image: url(../images/Arrow_Left@2x.png);
    }
  }
  .service {
    text-align: center;
    padding: 0.1rem 0rem;
    background-color: @white;
    img {
      width: 0.3rem;
      height: 0.3rem;
      margin: 0px auto;
    }
    p {
      margin-top: 0.15rem;
      font-size: 0.12rem;
      line-height: 0.14rem;
    }
    a {
      padding: 0.12rem 0rem;
    }
  }
  .product {
    .product-item {
      margin-bottom: 0.1rem;
      padding: 0.14rem 0.15rem;
      background-color: @white;
    }
    .product-img {
      height: 1.7rem;
    }
    .product-right {
      text-align: right;
    }
    .product-info {
      padding-top: 0.14rem;
      line-height: 0.18rem;
    }
    .product-title {
      font-size: 0.16rem;
      font-weight: normal;
      margin-bottom: 0.1rem;
    }
    .product-price {
      display: block;
      color: #fb3b33;
      font-size: 0.16rem;
      margin-bottom: 0.1rem;
    }
    .product-group {
      color: #666666;
      font-size: 0.13rem;
      line-height: 0.14rem;
      padding: 0.055rem 0rem;
    }
    .product-address {
      text-align: right;
      border-left: 1px solid @borderColor;
    }
    .btn.sign {
      width: 0.7rem;
      color: @white;
      font-size: 0.14rem;
      text-align: center;
      line-height: 0.25rem;
      display: inline-block;
      background-color: #f7a22f;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      border-radius: 0.04rem;
    }
  }
}

.header {
  height: 0.45rem;
  position: relative;
  text-align: center;
  line-height: 0.45rem;
  background-color: @blue;
  .close {
    position: absolute;
    top: 0px;
    left: 0.02rem;
    height: 100%;
    width: 0.45rem;
    background-repeat: no-repeat;
    background-size: 0.3rem auto;
    background-position: center center;
    background-image: url("../images/close@2x.png");
  }
  .title {
    color: @white;
    font-size: 0.18rem;
    font-weight: normal;
  }
}

.list {
  min-height: 100vh;
  padding-bottom: 0.66rem;
  .section {
    .label {
      display: block;
      font-size: 0.14rem;
      line-height: 0.27rem;
      padding: 0.1rem 0.15rem 0rem;
    }
    .address {
      position: relative;
      font-size: 0.15rem;
      line-height: 0.44rem;
      background-color: @white;
      padding: 0px 1.1rem 0px 0.15rem;
      border-top: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      .location {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        color: @blue;
        background-repeat: no-repeat;
        background-size: 0.3rem auto;
        padding: 0px 0.15rem 0px 0.3rem;
        background-position: left center;
        background-image: url("../images/location@2x.png");
      }
    }
    .product {
      background-color: @white;
      border-top: 1px solid @borderColor;
      a {
        padding: 0.15rem;
      }
      .product-img {
        float: left;
        width: 18.845%;
        height: 0.65rem;
        overflow: hidden;
        -webkit-border-radius: 0.04rem;
        -moz-border-radius: 0.04rem;
        border-radius: 0.04rem;
      }
      .product-info {
        float: left;
        width: 81.155%;
        line-height: 0.2rem;
        padding: 0.08rem 0rem 0.08rem 0.15rem;
        .product-title {
          font-size: 0.17rem;
          margin-bottom: 0.09rem;
        }
        .product-addr {
          font-size: 0.15rem;
        }
        .product-group {
          position: relative;
          padding-right: 1.54rem;
        }
        .product-label {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 1.54rem;
          font-size: 0.09rem;
          line-height: 0.18rem;
        }
        .product-label-ls {
          float: left;
          border-style: solid;
          padding: 0px 0.05rem;
          border-width: 0.01rem;
          margin-right: 0.05rem;
          -webkit-border-radius: 0.03rem;
          -moz-border-radius: 0.03rem;
          border-radius: 0.03rem;
          &:nth-child(1) {
            color: #e87937;
            border-color: #e87937;
          }
          &:nth-child(2) {
            color: #55a993;
            border-color: #55a993;
          }
          &:nth-child(3) {
            color: @blue;
            border-color: @blue;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .footer {
    padding: 0.1rem 0.15rem;
    border-top: 1px solid @borderColor;
    .btn.confirm {
      color: @white;
      font-size: 0.17rem;
      line-height: 0.45rem;
      background-color: @blue;
      -webkit-border-radius: 0.05rem;
      -moz-border-radius: 0.05rem;
      border-radius: 0.05rem;
    }
  }
}

.club {
  min-height: 100vh;
  padding-bottom: 0.7rem;
  .tab-bar {
    color: #636365;
    position: relative;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.4rem;
    background-color: @white;
    border-bottom: 1px solid @borderColor;
    .tab {
      &:after {
        content: '';
        margin-left: 0.04rem;
        display: inline-block;
        vertical-align: middle;
        border-top: 0.06rem solid #afafaf;
        border-left: 0.04rem solid transparent;
        border-right: 0.04rem solid transparent;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      height: 0.18rem;
      margin-top: -0.09rem;
      margin-left: -0.005rem;
      border-left: 1px solid @borderColor;
    }
  }
  .items {
    padding: 0.05rem;
  }
  .item {
    padding: 0.05rem;
    a {
      background-color: @white;
      -webkit-box-shadow: 1px 1px 15px @boxShadow;
      -moz-box-shadow: 1px 1px 15px @boxShadow;
      box-shadow: 1px 1px 15px @boxShadow;
    }
    .item-img {
      height: 1.25rem;
    }
    .item-info {
      line-height: 0.2rem;
      padding: 0.13rem 0.1rem;
      .item-title {
        font-size: 0.17rem;
        margin-bottom: 0.05rem;
      }
      .item-desc {
        color: #636363;
        font-size: 0.12rem;
      }
    }
  }
}

.order {
  min-height: 100vh;
  padding-bottom: 0.5rem;
  .header {
    background-color: @white;
    .back {
      width: 0.45rem;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-repeat: no-repeat;
      background-size: auto 0.3rem;
      background-position: center center;
      background-image: url('../images/back@2x.png');
    }
    .title {
      color: @gray;
    }
  }
  .group {
    margin-bottom: 0.1rem;
    background-color: @white;
  }
  .express {
    margin-left: -0.02rem;
    margin-right: -0.02rem;
    background-color: @white;
    font-size: 0.17rem;
    text-align: center;
    line-height: 0.48rem;
    -webkit-box-shadow: 0px 0px 15px @boxShadow;
    -moz-box-shadow: 0px 0px 15px @boxShadow;
    box-shadow: 0px 0px 15px @boxShadow;
    .exp-item {
      padding: 0rem 0.02rem;
      a {
        border-top-style: solid;
        border-top-width: 0.02rem;
      }
      &:nth-child(1) {
        a {
          border-top-color: #00a0e9;
        }
      }
      &:nth-child(2) {
        a {
          border-top-color: #ffb415;
        }
      }
      &:nth-child(3) {
        a {
          border-top-color: #29ab91;
        }
      }
      &:nth-child(4) {
        a {
          border-top-color: #f15a4a;
        }
      }
      &.active {
        a {
          color: @white;
        }
        &:nth-child(1) {
          a {
            background-color: #00a0e9;
          }
        }
        &:nth-child(2) {
          a {
            background-color: #ffb415;
          }
        }
        &:nth-child(3) {
          a {
            background-color: #29ab91;
          }
        }
        &:nth-child(4) {
          a {
            background-color: #f15a4a;
          }
        }
      }
    }
  }
  .address {
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    .addr-item {
      font-size: 0.15rem;
      line-height: 0.15rem;
      a {
        position: relative;
        padding: 0.15rem 0.6rem;
        &:before, &:after {
          content: '';
          width: 0.3rem;
          height: 0.3rem;
          display: block;
          position: absolute;
          top: 50%;
          right: 0.05rem;
          margin-top: -0.15rem;
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url('../images/Arrow_Left@2x.png');
        }
        &:before {
          right: auto;
          left: 0.2rem;
          width: 0.2rem;
          height: 0.25rem;
        }
        &:after {
          background-image: url('../images/Arrow_Left@2x.png');
        }
      }
      .addr-line {
        margin-bottom: 0.1rem;
        &:nth-child(2) {
          color: #636363;
          font-size: 0.14rem;
        }
        &:nth-child(3) {
          color: #999999;
          font-size: 0.14rem;
          margin-bottom: 0rem;
        }
      }
      .addr-split {
        width: 88%;
        height: 0px;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin-left: -44%;
        border-top: 1px solid @borderColor;
      }
      &:nth-child(1) {
        a:before {
          background-image: url("../images/Send@2x.png");
        }
      }
      &:nth-child(2) {
        a:before {
          background-image: url("../images/recipient@2x.png");
        }
      }
    }
  }
  .params {
    font-size: 0.15rem;
    line-height: 0.5rem;
    border-top: 1px solid @borderColor;
    .row {
      border-bottom: 1px solid @borderColor;
      .col-xs-6 {
        background-repeat: no-repeat;
        background-size: 0.3rem 0.3rem;
        background-position: right center;
        background-image: url("../images/Arrow_Left@2x.png");
        &:nth-of-type(2n) {
          .form-group {
            &:before {
              content: '';
              display: block;
              width: 0px;
              height: 0.3rem;
              position: absolute;
              left: 0px;
              top: 50%;
              margin-top: -0.15rem;
              border-left: 1px solid @borderColor;
            }
          }
        }
        .form-input {
          color: @blue;
        }
      }
    }
    .form-group {
      position: relative;
      padding: 0rem 0.3rem 0rem 0.9rem;
    }
    .form-label {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      padding-left: 0.15rem;
    }
    .form-input {
      width: 100%;
      text-align: right;
      font-size: 0.15rem;
      line-height: 0.1rem;
    }
  }
  .company {
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    .title {
      font-size: 0.16rem;
      font-weight: normal;
      padding: 0.1rem 0.15rem 0rem;
    }
    .comp {
      margin-top: 0.025rem;
      padding: 0rem 0.075rem 0.075rem;
      .col-xs-4 {
        padding: 0.075rem;
        .comp-item {
          overflow: hidden;
          position: relative;
          border: 1px solid @borderColor;
          -webkit-border-radius: 0.02rem;;
          -moz-border-radius: 0.02rem;
          border-radius: 0.02rem;
          background-color: #f5f5f5;
          &:before {
            content: '';
            display: block;
            width: 0.22rem;
            height: 0.22rem;
            position: absolute;
            right: 0px;
            bottom: 0px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("../images/Choice_off@2x.png");
          }
          &.active {
            border-color: #4bd663;
            background-color: @white;
            &:before {
              background-image: url("../images/Choice_on@2x.png");
            }
          }
        }
        .item-img {
          width: 0.36rem;
          height: 0.36rem;
          position: absolute;
          top: 50%;
          left: 0.05rem;
          overflow: hidden;
          margin-top: -0.18rem;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 1px solid @borderColor;
        }
        .item-info {
          line-height: 0.1rem;
          padding: 0.12rem 0.05rem 0.12rem 0.45rem;
          .item-title {
            font-size: 0.13rem;
            font-weight: normal;
            margin-bottom: 0.15rem;
          }
          .item-price {
            color: #ff0000;
            font-size: 0.13rem;
          }
        }
      }
    }
  }
  .attrs {
    padding: 0.11rem 0.08rem;
    .col-xs-4,
    .col-xs-8,
    .col-xs-12 {
      padding: 0.08rem;
    }
    .btn.item {
      width: 100%;
      height: 0.5rem;
      display: block;
      font-size: 0.16rem;
      line-height: 0.5rem;
      background-color: #ececec;
      border: 1px solid #cccccc;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      border-radius: 0.04rem;
      &.active {
        color: @white;
        border-color: #ff6a00;
        background-color: #ff6a00;
      }
    }
    .form-group {
      position: relative;
      padding-right: 1rem;
      font-size: 0.16rem;
      border: 1px solid #cdcdcd;
      .form-input {
        width: 100%;
        display: block;
        font-size: 0.15rem;
        line-height: 0.2rem;
        padding: 0.14rem 0.1rem;
      }
      .btn.confirm {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 1rem;
        color: #ff6a00;
        font-size: 0.15rem;
        line-height: 0.5rem;
        border-left: 1px solid #cdcdcd;
      }
    }
  }
  .footer {
    font-size: 0.17rem;
    line-height: 0.5rem;
    border-top: 1px solid @borderColor;
    .pull-left {
      padding-left: 0.35rem;
      .price {
        color: #ff1402;
      }
    }
    .pull-right {
      .submit {
        color: @white;
        padding: 0rem 0.15rem;
        background-color: @blue;
      }
    }
  }
}

.addr {
  min-height: 100vh;
  padding-bottom: 0.1rem;
  .header {
    background-color: @white;
    .title {
      color: @gray;
      font-size: 0.18rem;
    }
    .btn {
      position: absolute;
      top: 0px;
      height: 100%;
      &.back {
        left: 0px;
        width: 0.45rem;
        background-size: auto 0.3rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/back@2x.png');
      }
      &.clear {
        right: 0px;
        color: #ff6a00;
        font-size: 0.15rem;
        padding: 0px 0.15rem;
      }
    }

  }
  .group {
    margin-bottom: 0.1rem;
    background-color: @white;
    border-top: 1px solid @borderColor;
    border-bottom: 1px solid @borderColor;
    .section {
      position: relative;
      padding-left: 0.15rem;
      &:nth-child(1) {
        padding-right: 1.05rem;
      }
      &:nth-child(2) {
        .form-group {
          &:last-child {
            border: none;
          }
        }
      }
    }
    .form-group {
      position: relative;
      line-height: 0.45rem;
      padding-left: 0.9rem;
      border-bottom: 1px solid @borderColor;
      .form-label {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 0.9rem;
      }
      .form-input {
        width: 100%;
        line-height: 0.2rem;
        padding: 0.125rem 0.15rem 0.125rem 0rem;
        &#area {
          background-repeat: no-repeat;
          background-size: auto 0.3rem;
          background-position: right center;
          background-image: url('../images/Arrow_Left@2x.png');
        }
      }
    }
    .form-block {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 1.05rem;
      height: 100%;
      text-align: center;
      line-height: 1.8rem;
      border-left: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      .form-text {
        height: 100%;
        font-size: 0.13rem;
      }
    }
    .group-content {
      padding: 0rem 0.15rem;
      .group-title {
        font-size: 0.15rem;
        line-height: 0.16rem;
        padding: 0.15rem 0rem;
      }
      .form-area {
        width: 100%;
        height: 1.2rem;
        display: block;
        overflow-y: auto;
        font-size: 0.15rem;
        padding: 0.08rem 0.1rem;
        background-color: @bgColor;
        border: 1px solid @borderColor;
        -webkit-overflow-scrolling: touch;
      }
      .group-footer {
        font-size: 0px;
        text-align: right;
        padding: 0.1rem 0rem;
      }
      .btn {
        width: 0.73rem;
        color: #636363;
        margin-left: 0.1rem;
        line-height: 0.27rem;
        display: inline-block;
        -webkit-border-radius: 0.04rem;
        -moz-border-radius: 0.04rem;
        border-radius: 0.04rem;
        border: 1px solid #919191;
        &.write {
          color: @white;
          background-color: #ff6a00;
          border-color: #ff6a00;
        }
      }
    }
  }
  .footer {
    position: relative;
    box-shadow: none;
    padding: 0.1rem 0.15rem;
    background-color: @bgColor;
    .btn.confirm {
      width: 100%;
      color: @white;
      font-size: 0.17rem;
      letter-spacing: 2px;
      line-height: 0.45rem;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      border-radius: 0.04rem;
      background-color: #00a0e9;
    }
  }
}

.sender {
  min-height: 100vh;
  padding-bottom: 0.65rem;
  .header {
    background-color: @white;
    .back {
      height: 100%;
      width: 0.45rem;
      position: absolute;
      top: 0px;
      left: 0px;
      background-repeat: no-repeat;
      background-size: 0.3rem auto;
      background-position: center center;
      background-image: url('../images/back@2x.png');
    }
    .title {
      color: @gray;
    }
  }
  .search {
    padding: 0.1rem 0.15rem;
    border-top: 1px solid @borderColor;
    .form-input {
      width: 100%;
      display: block;
      line-height: 0.2rem;
      padding: 0.05rem 0.3rem;
      border: 1px solid @borderColor;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      border-radius: 0.04rem;
      background-repeat: no-repeat;
      background-size: auto 0.3rem;
      background-position: left center;
      background-image: url("../images/search@2x.png");
    }
  }
  .group {
    .address {
      margin-bottom: 0.1rem;
      background-color: @white;
      border-top: 1px solid @borderColor;
      border-bottom: 1px solid @borderColor;
      .address-body {
        line-height: 0.3rem;
        padding: 0.05rem 0.15rem;
        span {
          font-size: 0.15rem;
          margin-right: 0.1rem;
        }
        p {
          font-size: 0.13rem;
        }
      }
      .address-footer {
        font-size: 0px;
        text-align: right;
        padding: 0rem 0.15rem;
        border-top: 1px solid @borderColor;
        .btn {
          font-size: 0.13rem;
          line-height: 0.43rem;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: 0.3rem auto;
          padding: 0rem 0rem 0rem 0.3rem;
          background-position: left center;
          &.edit {
            background-image: url("../images/edit@2x.png");
          }
          &.delete {
            background-image: url("../images/delete@2x.png");
          }
        }
      }
    }
  }
  .footer {
    box-shadow: none;
    padding: 0.1rem 0.15rem;
    border-top: 1px solid @borderColor;
    .btn.add {
      color: @white;
      font-size: 0.17rem;
      line-height: 0.44rem;
      background-color: @blue;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      border-radius: 0.04rem;
    }
  }
}